@font-face {
  font-family: post-no-bills-colombo;
  font-weight: normal;
  src: url(./assets/fonts/post-no-bills-colombo.regular.ttf);
}
@font-face {
  font-family: post-no-bills-colombo;
  font-weight: bold;
  src: url(./assets/fonts/post-no-bills-colombo.bold.ttf);
}

:root {
  font-size: 16px;
}

* {
  box-sizing: border-box;
}

body,
html {
  font-family: post-no-bills-colombo, -apple-system, BlinkMacSystemFont,
    'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
  width: 100%;
  height: 100%;
  margin: 0;
}

.fadeOut {
  animation: fade-out 0.3s linear both !important;
}
.fadeIn {
  animation: fade-in 0.3s linear both !important;
}

@media screen and (max-width: 600px), (max-height: 700px) {
  :root {
    font-size: 14px;
  }
}
@media screen and (max-height: 600px) {
  section.pause-container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
@media screen and (max-height: 500px) {
  :root {
    font-size: 12px;
  }
  section.pause-container {
    padding-top: 1rem;
    padding-bottom: 2rem;
  }
}
