#intro-screen {
  cursor: pointer;
  animation: fade-in 2s ease-out 0.5s 1 backwards running;
  height: inherit;
  width: inherit;
  padding: 24px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 8px;

  button.ball {
    margin-top: 3rem;
    font-family: inherit;
    width: 14rem;
    height: 14rem;
    animation: rotate 40s linear 0s infinite both;
    // &:hover {
    //   animation-play-state: paused;
    // }
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.43));
    transform: rotate(-0.09deg);
    color: #4e5749;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.33);
    h1 {
      position: relative;
      font-size: 6em;
      top: 0.4rem;
      right: 0.1rem;
      margin: 0;
    }
  }
  p {
    user-select: none;
    animation: pulse 3s 3s infinite both;
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 7rem;
    color: #4e5749;
  }
}
