button.ball {
  position: relative;
  background-image: url('./assets/ball.png');
  background-position: center;
  background-size: contain;
  color: #4e5749;
  border: none;
  cursor: pointer;
  border-radius: 50%;
}

main#app-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #e8ffe2 0%, #c2ffb2 100%);

  #intro-screen {
    animation: 2s ease-out 0s 1 backwards running fade-in;
    height: calc(100% - 48px);
    width: calc(100% - 48px);
    padding: 24px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: grey;
    border-radius: 8px;

    button.ball {
      width: 256px;
      height: 256px;
      font-size: 4em;
      animation: 60s linear 0s infinite both running rotate;
      transition: transform 0.2s ease-in-out;
      &:hover {
        animation-play-state: paused;
      }
    }
  }
  #win-screen {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    background: rgba(211, 211, 211, 0.629);
    backdrop-filter: blur(10px);
  }
}

#game-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
}
//Select Map
.select-map-container {
  font-family: 'Courier New', Courier, monospace;
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  // background: rgb(62, 83, 20);
}

h1.select-map {
  font-size: larger;
  color: #4e5749;
}

.map-selector button {
  height: 4rem;
  width: 4rem;
  background: gray;
}

div.map-selector {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1rem;
  width: 13rem;
}

.map {
  border-radius: 10px;
  width: 100%;
  height: 100%;
  background: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

button.start-button {
  width: 10rem;
  height: 3rem;
  background: greenyellow;
  appearance: none;
  border: none;
  border-radius: 10px;
  color: black;
}

//Pause menu
.pause-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace;
}

.menu-container {
  height: inherit;
  width: inherit;
  // max-width: 20rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1rem;
  align-items: center;
  padding: 2rem;
  border-radius: 20px;
  background: rgba(211, 211, 211, 0.629);
  backdrop-filter: blur(10px);
}

.pause-option {
  color: black;
  font-size: large;
  cursor: pointer;
}

button.pause-button {
  cursor: pointer;
  position: absolute;
  top: 1rem;
  right: 1rem;
  border-radius: 18px;
  background: rgba(211, 211, 211, 0.629);
  backdrop-filter: blur(10px);
  height: 4rem;
  width: 4rem;
  border: none;
}
